@font-face {
    src: url('../fonts/proximanova_regular.ttf') format('truetype');
    font-family: 'Proxima Nova Regular';
}
@font-face {
    src: url('../fonts/proximanova_bold.otf') format('truetype');
    font-family: 'Proxima Nova Bold';
}
